/*
    Samuel Varney
    12/14/2023
*/

#contactPageLink {color: #DE1E27;}

#contactPageLink:hover {color: #f73740;}

.mainContainers {
    width: 60%;
    background-color: #FFFFFF;
    margin: 2em auto 3em;
    padding: 2em;
    box-shadow: 0 0 2em #DE1E27;
    border-radius: .5em;
}

.mainContainers h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    letter-spacing: .15em;
    text-align: center;
}

section div {
    display: flex;
    justify-content: space-around;
}

.locationInfo h3 {
    color: #DE1E27;
    text-align: center;
    font-size: 1.75em;
}

#phone {
    text-align: center;
    font-size: 2em;
}

#phone a {
    color: #000000;
    font-size: .95em;
}

#phone a:hover {color: #DE1E27;}

.mainContainers p {font-size: 1.3em;}

#peopleSpeak p {
    padding: 1em 1em 0;
    line-height: 1.75em;
}

form {
    background-color: #DDC1A2;
    width: 60%;
    margin: auto;
    padding: 2em;
    border-radius: .5em;
}

label {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: .35em;
}

input {
    margin-bottom: 1.25em;
    font-size: 1.25em;
    padding: .25em;
    width: 400px;
}

label[for="message"] {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
}

textarea {
    display: block;
    height: 200px;
    width: 90%;
    margin: auto;
    resize: none;
    font-size: 1.25em;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}