/*
    Samuel Varney
    12/7/2023
*/

#homePageLink {color: #DE1E27;}

#homePageLink:hover {color: #f73740;}

#about, section {
    width: 80%;
    margin: 3em auto;
    overflow: auto;
    background-color: #FFFFFF;
    border-radius: 2em;
    box-shadow: 0 0 2em #DE1E27;
}

#about img {
    float: right;
    width: 40%;
    margin: 1.5em;
    box-shadow: 0 0 1em #000000;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .15em;
    text-align: center;
}

article p {
    padding: 1.5em;
    font-size: 1.3em;
    line-height: 1.75em;
}

#about, section {padding: 2em;}

section {clear: right;}

section article {width: 100%;}

h3 {
    font-size: 1.75em;
    margin: 1em 0 1em;
    text-align: center;
}

#promise1 img, #promise2 img, #promise3 img {
    width: 25%;
    margin: 1.5em;
    box-shadow: 0 0 1em #000000;
}

#promise1, #promise2, #promise3 {
    width: 80%;
    margin: auto;
    overflow: auto;
}

#promise1 {border: 5px double #DE1E27;}

#promise2 {border: 5px double #2D2DFA;}

#promise3 {border: 5px double #028F46}

#promise2, #promise3 {margin-top: 2em;}

#promise1 img {float: right;}

#promise2 img {float: left;}

#promise3 img {float: right;}

article {clear: both;}

@media screen and (max-width: 1400px) {
    #promise1 img, #promise2 img, #promise3 img {width: 40%;}
}

@media screen and (max-width: 1000px) {
    #promise1 img, #promise2 img, #promise3 img {width: 50%;}

    #promise1, #promise2, #promise3 {width: 95%;}
}

@media screen and (max-width: 750px) {
    #promise1 img, #promise2 img, #promise3 img, #about img {
        float: none;
        display: block;
        margin: auto;
        width: 70%;
    }

    #promise1, #promise2, #promise3 {width: 95%;}

    article p {padding: 1.25em;}
}