/*
    Samuel Varney
    12/7/2023
*/

#homePageLink {color: #DE1E27;}

#homePageLink:hover {color: #f73740;}

#about, section {
    width: 80%;
    margin: 3em auto;
    overflow: auto;
    background-color: #FFFFFF;
    border-radius: 2em;
    box-shadow: 0 0 2em #DE1E27;
}

#about img {
    float: right;
    width: 40%;
    margin: 1.5em;
    background-color: #FFFFFF;
    box-shadow: 0 0 1em #000000;
}

#about h2, section h2 {
    font-size: 3em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .15em;
    text-align: center;
}

#about p {
    padding: 1.5em;
    font-size: 1.3em;
    line-height: 1.75em;
}

#about, section {padding: 2em;}

section {clear: right;}

section article {width: 100%;}