/*
    Samuel Varney
    12/7/2023
*/

/* Colors: red (DE1E27) white (FFFFFF) black (000000) green (028f46) blue (2D2DFA)*/

body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.15em;
    letter-spacing: .15em;
}

a:hover {
    color: #DE1E27;
    text-shadow: 0 0 1em #FFFFFF;
}

header {
    background-color: #000000;
    text-align: center;
    padding-bottom: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
    color: #FFFFFF;
    margin-top: 0;
    letter-spacing: .25em;
    font-size: 3.5em;
}

header img {
    height: 250px;
    width: auto;
}

nav a {
    text-decoration: none;
    font-size: 2em;
    margin: 0 1em;
    color: #FFFFFF;
    text-shadow: 0 0 .5em #DE1E27;
}

nav a:hover {color: #DE1E27;}

footer {
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    overflow: auto;
    justify-content: space-between;
}

footer address {
    margin: auto 2em;
}

footer > a {
    margin: 1em 0 1em 3em;
    background-color: #FFFFFF;
    padding: 1em 2em;
    border: 4px solid #DE1E27;
    border-radius: 1em;
    font-size: 1.4em;
    color: #DE1E27;
}

footer > a:hover {
    border: 4px solid #028f46;
    color: #028f46;
}

img {max-width: 100%;}