/*
    Samuel Varney
    11/22/2023
*/

/* Colors: red (DE1E27) white (FFFFFF) black (000000) green (028f46) */

body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: #000000;
    text-align: center;
    padding-bottom: 1.5em;
}

header h1 {
    color: #FFFFFF;
    margin-top: 0;
    letter-spacing: .25em;
    font-size: 3.5em;
}

header img {
    height: 250px;
    width: auto;
}

nav a {
    text-decoration: none;
    font-size: 2em;
    margin: 0 1em;
    color: #FFFFFF;
    text-shadow: 0 0 .5em #DE1E27;
}

nav a:hover {color: #DE1E27;}

footer {background-color: #000000;}