/*
    Samuel Varney
    12/14/2023
*/


#menuPageLink {color: #DE1E27;}

#menuPageLink:hover {color: #f73740;}

section {
    width: 80%; 
    margin: 0 auto 4em; 
    background-color: #FFFFFF; 
    border-radius: 0 0 .5em .5em; 
    overflow: hidden;
    padding: 2em;
}

section p {
    padding: 1em;
    font-size: 1.3em;
    line-height: 1.75em;
}

h2 {
    width: 80%; 
    background-color: #000000; 
    text-align: center; 
    margin: 4em auto 0;
    padding: 1.35em;
    border-radius: 3.5em 3.5em 0 0;
}

h2 img {max-width: 100%;}

#pizzaSection h3 {
    color: #DE1E27;
    text-align: center;
}