/*
    Samuel Varney
    12/14/2023
*/

#menuPageLink {color: #DE1E27;}

#menuPageLink:hover {color: #f73740;}

section {
    width: 80%; 
    margin: 0 auto 4em; 
    background-color: #FFFFFF; 
    border-radius: 0 0 .5em .5em; 
    overflow: hidden;
    padding: 2em;
}

section p, dd, td, th, li {
    font-size: 1.3em;
    line-height: 1.75em;
}

td li {font-size: 1em;}

i {
    font-weight: bold;
    font-size: 1.25em;
}

section p {
    padding: .5em;
    width: 75%;
    margin: 0 auto;
}

h2 {
    width: 80%; 
    background-color: #000000; 
    text-align: center; 
    margin: 4em auto 0;
    padding: 1.35em;
    border-radius: 3.5em 3.5em 0 0;
}

h2 img {max-width: 100%;}

section h3, dt, th {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

section h3 {
    text-align: center;
    font-size: 3em;
    letter-spacing: .1em;
}

dl {margin: 0 2em;}

dt {
    font-size: 2em;
    margin: 1em 0 0;
}

dd {margin: .5em 0 0;}

#pizzaSection h3, #sideSection h3, #pizzaSection dt, #pizzaSection th, #sideSection th {color: #DE1E27;}

#wingSection h3, #wingSection th {color: #2D2DFA;}

#sandwichSection h3, #sandwichSection dt, #sandwichSection th {color: #028F46;}

table {
    border-collapse: collapse;
    margin: 0 auto 2em;
}

td {
    padding: .5em 1em;
    font-weight: bold;
}

th {
    border-bottom: 4px solid;
    border-right: 4px solid;
    font-size: 2em;
    letter-spacing: .1em;
    padding: .5em 1em;
}

#pizzaSection table, #sideSection table {border: 4px solid #DE1E27;}

#pizzaSection td, #sideSection td {border-right: 2px solid #DE1E27;}

#wingSection table {border: 4px solid #2D2DFA}

#wingSection td {border-right: 2px solid #2D2DFA}

#sandwichSection table {border: 4px solid #028F46}

#sandwichSection td {border-right: 2px solid #028F46}

#sideSection table {margin: 0 auto 3em;}

#specialTable td {border-bottom: 2px solid #DE1E27;}

#sandwichSection p, #sideSection p {text-align: center;}

#sauces {
    width: 50%;
    margin: 0 auto 3em;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#sauces ul {list-style-type: none;}
